.lam-bai-container {
    padding: 0;
    width: 75%;
    margin: 0 auto;

    .title {
        padding-top: 20px;
        font-size: 26px;
        color: #0A73AC;
        font-weight: bold;
        margin: 0;
        text-transform: none;
        text-align: left;
    }

    .btn-statistic {
        margin-top: 10px;

        .btn {
            i {
                font-size: 20px;
                margin-right: 5px;
            }

            border: 1px solid #35509A;
            padding: 5px 10px;
            height: fit-content;
            font-size: 20px;
            width: 100%;
            border-radius: 10px;
            background-color: #E8F2FF;

            &:hover {
                background-color: #465a92;
                color: white;
            }
        }

    }

    .test-result {
        height: fit-content;
        margin-bottom: 30px;
    }
}
