.ket-qua-lam-bai-container {
    padding: 20px;

    h3 {
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 19px;
    }
}

.ket-qua-table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        border: 1px solid #ddd;
        padding: 8px;
        vertical-align: middle;
        font-size: 18px;
    }

    th {
        background-color: #f2f2f2;
        font-size: 18px;
    }

    // Thêm hiệu ứng hàng xen kẽ
    tr:nth-child(even) {
        background-color: #f9f9f9; // Màu nền cho hàng chẵn
    }

    tr:nth-child(odd) {
        background-color: #ffffff; // Màu nền cho hàng lẻ
    }
}

.ngay-lam {
    text-align: left;
}

.tags {
    margin-top: 5px;
    font-size: 15px;
}

.tag {
    background-color: #ffa500;
    color: white;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 15px;
    display: inline-block;
}

.btn-link {
    background: none;
    border: none;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}