.chatbox {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    // padding: 10px;
    box-sizing: border-box;
    background: linear-gradient(318deg, #174ddf5e, #e0e0e0);

    .chatbox-messages {
        flex: 1;
        min-height: 0;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        padding-right: 5px;

        // .chatbox-message.user {
        //     display: flex;
        //     /* align-self: flex-end; */
        //     align-items: center;
        //     align-self: end;
        // }

        .chatbox-message {
            padding: 0 10px;
            margin-bottom: 6px;
            font-size: 14px;
            word-wrap: break-word;
        }

        .chatbox-empty {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            font-weight: bold;
            color: #888;
            height: 100%;
            text-align: center;
            padding: 20px;
        }

    }

    .chatbox-input-area {
        display: flex;
        margin-bottom: 10px;
        padding: 0 10px;

        .chatbox-input {
            flex: 1 1 auto;
            padding: 6px 10px;
            border-radius: 5px 0 0 5px;
            border: 1px solid #ccc;
            border-right: none;
            font-size: 14px;
            resize: none; // Không cho resize bằng chuột
            overflow: hidden; // Ẩn thanh cuộn
            min-height: 38px; // Chiều cao ban đầu
            max-height: 120px; // Giới hạn chiều cao tối đa nếu text quá dài
        }


        .chatbox-send-btn {
            padding: 6px 12px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            font-size: 14px;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}