.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    width: 50%;
    max-width: 800px;
    /* Bạn có thể thay đổi kích thước này tùy ý */
    height: auto;
    /* Chiều cao tự động để hiển thị hết nội dung */
    max-height: 80vh;
    /* Giới hạn chiều cao tối đa của modal để tránh chiếm hết màn hình */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
    overflow: hidden;
    /* Ẩn phần ngoài giới hạn của modal */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
}

.modal-title {
    font-size: 22px;
    font-weight: bold;
    color: #5896fb;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    /* Cho phép cuộn dọc nếu cần */
    max-height: 70vh;
    /* Giới hạn chiều cao của phần body (80% chiều cao màn hình trừ đi các phần header) */
}

.avatar11 {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 20px;
}


.avatar1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 15px;

}

.message-box {
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 15px;
    border: 1px solid #c1c1c1;
    max-height: 150px;
    /* Giới hạn chiều cao nếu cần */
    overflow-y: auto;
    /* Cho phép cuộn nếu nội dung dài */
}

.option-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    border: 0.5px solid #dedede;
    margin-right: 10px;
    margin-bottom: 5px;
}



.highlight {
    color: #22c55e;
    font-weight: bold;
}

p.textmessage,
.highlight {
    font-size: 17px;
    margin-left: 35px;
    text-align: justify;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    grid-gap: 10px;
    gap: 10px;
    width: 100%;
    margin-bottom: 15px;
}

.progress-bar {
    width: 80%;
    height: 15px;
    margin-left: 38px;
    background: #e5e7eb;
    border-radius: 15px;
    position: relative;

}

.progress {
    height: 100%;
    background: #6ba1f9;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
}

.progress-text {
    font-size: 20px;
    color: #6ba1f9;
    font-weight: 600;
}

.feedback {
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    border: 1px solid #c1c1c1;
    max-height: 200px;
    /* Giới hạn chiều cao nếu cần */
    overflow-y: auto;
    /* Cho phép cuộn nếu nội dung dài */
}

strong {
    color: #666666;
    font-size: 17px;
}