.home-test-container {

    margin-top: 15px;

    .home-test-title {
        margin-bottom: -40px;
        text-align: center;
        font-size: 30px;
        color: #0A73AC;
        font-weight: bold;
    }

    .test {
        text-align: center;
        display: flex;
        justify-content: center;
    }
}