.home-footer-container {
    display: flex;
    border-top: 2px solid #aaaaaa;
    background: url('../../../assets/footer.png') center center no-repeat;
    //height: 170px;

    .home-footer-logo {
        // width: 25%;
        // background: url('../../assets/logo.png') center center no-repeat;
        // background-size: cover;
        // height: 245px;
        // cursor: pointer;

        width: 15%;
        background: url('../../../assets/logo.png') center center no-repeat;
        background-size: cover;
        height: 170px;
        margin-top: 12px;
        cursor: pointer;
    }

    .home-footer-content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 85%;

        .footer-content1,
        .footer-content2,
        .footer-content3 {
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: #777171;

            .fontcontent {
                color: black;
                font-size: 15px;
                font-weight: bolder;
            }
        }
    }
}