$primary-color: #4a90e2;
$secondary-color: #0056b3;
$background-color: #f8f9fa;
$text-color: #333;
$border-radius: 10px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$hover-scale: 1.05;
$transition-duration: 0.3s;

// Global styles
body {
    background-color: $background-color;
    font-family: Arial, sans-serif;
}

.flashcard-layout {
    width: 75%;
    margin: 0 auto;

    .header {

        margin: 0 20px;

        .title {
            text-align: left;
            text-transform: none;
            font-weight: bold;
            font-size: 26px;
            color: #0071ba;
            margin: 15px 200px;
        }
    }

    .pagination {
        padding-bottom: 10px;
    }


}

.create-list-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    justify-content: center;
    height: 58vh;
}

.create-list-card {
    margin-right: 10px;
    height: 160px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #e9e7e7;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    transition: transform 0.3s;
    color: #0056b3;

    .create-list-button {
        width: 150px;

        i {}

        .name {}
    }

    &:hover {
        transform: scale($hover-scale);
    }
}

.flashcard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;

    .flashcard-title {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        justify-items: center;
        width: fit-content;
        align-items: center;

        .flashcard-item {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 10px 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 100%;
            min-width: 180px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            cursor: pointer;

            &:hover {
                transform: translateY(-5px);
            }

            .list-title {
                font-size: 15px;
                font-weight: bold;
                margin-bottom: 5px;
                color: #333;
                height: 40px;
                text-align: center;
            }

            .list-meta {
                font-size: 13px;
                color: gray;
                margin-bottom: 10px;

                .fa-regular {
                    margin-right: 5px;
                }
            }

            .list-description {
                font-size: 13px;
                color: #333;
                margin-bottom: 15px;
                word-wrap: break-word;
                text-align: center;
            }

            .list-author {
                font-size: 14px;
                color: gray;
                display: flex;
                justify-content: center;
                align-items: center;

                .user-avatar {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin-right: 5px;
                }
            }
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .modal-content {
        background: white;
        padding: 20px;
        border-radius: 10px;
        width: 30%;
        height: auto;

        .modal-input input {
            width: 100%;
            border-radius: 10px;
            border: 1px solid #e7dede;
            outline: none;
            font-size: 20px;
            padding-left: 10px;
            outline: #4a90e2;
        }

        .modal-description textarea {
            width: 100%;
            outline: #4a90e2;
            padding-left: 10px;
            font-size: 20px;
            border-radius: 10px;
            border: 1px solid #e7dede;
        }

        .modal-header {
            display: flex;
            justify-content: space-between;
            padding: unset;
            margin-bottom: 15px;

            .modal-title {
                margin-bottom: 0;
                font-size: 25px;
                font-weight: 600;
                line-height: var(--bs-modal-title-line-height);
            }

            i {
                font-size: 20px;
                cursor: pointer;
            }
        }



        .modal-input {
            font-size: 22px;
            color: #676060;

            input {
                width: 100%;
                border-radius: 10px;
                border: 1px solid #e7dede;
            }
        }

        .modal-description {
            font-size: 22px;
            color: #676060;

            textarea {
                width: 100%;
                border-radius: 10px;
                border: 1px solid #e7dede;
            }
        }

        .modal-save {
            width: 50px;
            border-radius: 7px;
            padding: 6px;
            background: $secondary-color;
            color: white;
            font-size: 16px;
            border: none;

            &:hover {
                background-color: $primary-color;
            }
        }
    }
}