.toeic-exam-container {
    width: 100%;

    .toeic-exam-content {
        width: 75%;
        margin: 0 auto;

        // Thư viện đề thi Toeic
        .toeic-exam-title {
            font-size: 26px;
            color: #0A73AC;
            font-weight: bold;
            padding-top: 20px;
            padding-left: 45px;

        }

        // category exam 2019 2018
        .toeic-category-exam-title {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        // thanh tìm kiếm đề thi
        .toeic-exam-search {
            display: block;
            text-align: center;

            .toeic-exam-search-input {
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 20px;
                margin-right: 15px;
                transition: border-color 0.3s;
                font-size: 16px;
                width: 84%;
                background: #fefcfc;

                &:focus {
                    border-color: #007BFF;
                    outline: none;
                    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
                }
            }


            .toeic-exam-search-button {
                padding: 12px 24px;
                background-color: #586ea8;
                color: white;
                border: none;
                border-radius: 20px;
                cursor: pointer;
                transition: background-color 0.3s, transform 0.2s;
                font-size: 17px;

                &:hover {
                    background-color: #35509A;
                    transform: translateY(-2px);
                }
            }
        }

        .toeic-exam {
            width: 100%;
        }
    }
}