.home-vocab-container {
    width: 75%;
    margin: auto;
    margin-top: 40px;
    text-align: center;

    h2 {
        text-align: left;
        font-weight: bold;
        margin-top: 20px;
    }

    .practice-button {
        font-weight: bold;
        margin-top: 30px;
        background-color: #e7f3ff;
        border: 1px solid #aacffa;
        padding: 10px 20px;
        border-radius: 8px;
        width: 100%;
        font-size: 20px;

        &:hover {
            background-color: #8dc0f7;
        }
    }

    .pratice-count {
        font-size: 17px;
        color: gray;
        display: flex;
        margin-top: 22px;
        justify-content: left;
    }



    .flashcard-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }

    .flashcard {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        border: 1px solid #9692928f;
        border-radius: 10px;
        padding: 15px;
        background-color: #f9f9f9;
    }

    .word-info {
        flex: 1;
        text-align: left;
    }

    .word-info {
        h3 {
            font-size: 20px;
            margin: 0;
        }

        strong {
            color: black !important
        }

        p {
            color: gray
        }
    }

    .audio-icons {
        display: flex;
        gap: 10px;
        margin: 5px 0;
        font-size: 16px;
        color: #6495ed;


        .us {
            cursor: pointer;
            display: flex;
            align-items: baseline;
            gap: 5px;
            font-weight: bold;
        }

        .uk {
            cursor: pointer;
            display: flex;
            align-items: baseline;
            gap: 5px;
            font-weight: bold;
        }
    }

    .vocab-content {
        font-size: 16px;
        .vocab_name {
            font-weight: bold;

            .noidung {
                text-indent: 2em;
                font-weight: normal;
            }
        }
    }



    .pagination {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
    }

    .pagination span {
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .pagination span:hover {
        background-color: #f0f0f0;
    }
}