@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;

    p {
        margin-top: 20px;
        color: #35509A;
        font-size: 18px;
        animation: fadeInOut 2s infinite;
    }
}

