.login-background {
    height: 100vh;
    background: url('../../assets/login-image.jpg');

    .login-container {
        width: 500px;
        margin: auto;
        border-radius: 10px;
        background: white;
        position: absolute;
        top: 120px;
        bottom: 0;
        right: 0;
        left: 0;
        height: 650px;
        justify-content: center;
        align-items: center;

        .login-content {
            padding: 15px;
            display: flex;
            justify-content: center;

            .logo-login {
                margin-left: 25px;
                background: url('../../assets/logo.png') center center no-repeat;
                background-size: cover;
                height: 150px;
                width: 300px;
            }

            .text-login {
                text-align: center;
                font-weight: 600;
                font-size: 30px;
                padding-top: 10px;
            }

            .login-input {
                margin: 7px 0px;

                input {
                    flex: 1;
                    padding: 5px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    font-size: 1.1rem;
                    margin-right: 15px;
                    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
                    font-size: 14px;
            
                    &:focus {
                        border-color: #007BFF;
                        outline: none;
                        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
                    }
            
                    &.error {
                        border-color: red;
                        box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
                    }
                }

                .custom-input-password {
                    position: relative;

                    i {
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        cursor: pointer;
                    }
                }
            }

            .btn-login {
                width: 100%;
                margin: 10px 0;
                height: 35px;
                border-radius: 15px;
                outline: none;
                border: none;
                color: black;
                font-size: 18px;
                background: linear-gradient(135deg, #7FA7A7, #CCCEB9);
            }

            .forgot-register {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .forgot-password,
                .register {
                    font-size: 13px;
                    color: rgb(107, 103, 103);

                    a {
                        text-decoration: none;
                    }
                }
            }

            .social-login {
                display: flex;
                text-align: center;
                justify-content: center;
                margin-top: 10px;


                .google {
                    font-size: 30px;
                    background: #c32424;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    margin-right: 10px;
                    cursor: pointer;
                }

                .facebook {
                    font-size: 30px;
                    background: #307aaf;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }
}